h1 {
    
  color: yellow
}
p{
    color:white;
}
#subtitle{
    color:pink;
}
#sideOne{
    float:left;
    
}
#sideTwo{
    float:right;
    
}
body {
    background-color: black;
}
#moviePoster{
    height:50px;
    width:50px;
}
